
.agrupar { 
  width: 100%; 
  margin: 2px auto; 
  text-align: center; 
 }
 .grid{
   margin: 0;
   padding: 0%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  
}
.grid section{
  border: solid 1px black;
  width: 90%;
  margin-left: 2px;
}
.inicio{
  font-size: 110%;
}